<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Github Hire</title>
    <meta name="description" content="Hire top developers talents through Github"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!--[if IE]>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="imagetoolbar" content="no" />
    <![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
    <%= yield :head %>

  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <%= react_component 'app.NavBar', {prerender: true} %>
    <div class="content">
      <%= yield %>
    </div>
    <%= react_component 'app.Footer', {prerender: true} %>
  </body>
</html>
